<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Razer_Chroma_Heat_Map.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Razer_Chroma_Heat_Map.Properties.Settings>
            <setting name="TimerType" serializeAs="String">
                <value>HeatMap</value>
            </setting>
            <setting name="BuildRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DecayRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxValue" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ColorType" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="KeepLEDsLitCold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScaleBrightness" serializeAs="String">
                <value>True</value>
            </setting>
        </Razer_Chroma_Heat_Map.Properties.Settings>
    </userSettings>
</configuration>
